.one {
  background: rgb(29, 130, 69);
  height: 20px;
  width: 100px;
}
.two {
  background: rgb(17, 64, 166);
  height: 20px;
  width: 100px;
}
.three {
  margin-top: 500px;
  margin-bottom: 500px;
  background: yellow;
}
